body {
    margin: 0;
    /*В body как правило всегда присутствует строка margin: 0;*/
}

.header {
    width: 100%;
    /* % будут расчитываьбся от ширины родительского блока*/
    max-width: 1328%;

    margin: 0 auto 0;
    padding: 20px 24px;
    /*Формируем отсутпы от края*/

    box-sizing: border-box;
    /*Убираем отсутпы внутри контейнера с текстом*/

    display: flex;
    /*Растягиеваем элементы по главной оси блока*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

:root {
    /*Устанавливаем общий размер шрифта для всей страницы при помощи псевдокласса Рут*/
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.header_logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 120px;
    /*размер логотипа идет из макета. Под логотип выделено 120рх*/
}

.header_logo a:hover {
    color: aliceblue;
}

.header_logo_img {
    width: 100%;
    aspect-ratio: 120/24;
    /*Задаем размер отсупов логотипа чтобы избежать прыгания тектса на странице вдальнейшем*/
    margin-right: 12px;
}

.header_nav {
    /*margin-left: auto;*/
    flex-grow: 1;
}

.header_nav-list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: flex-end;
    /*gap: 40px;*/
    /*Отступы между элементами списка*/

}

.header_nav-list-li {
    margin: 20px;
}

.header_nav-list a {
    text-decoration: none;
    /*font-size: 0.7rem;*/
    line-height: 1.357rem;
    color: white;
    /*По моему макету бцквы Белого цвета*/

    transition: color .6s linear 0s;
    /*Простейший способ задавания анимации*/
}

.header_nav-list a:hover {
    color: red;
}

.header_nav-list a:focus {
    outline: 1px solid red;
    /*Оконтовка вокруг каждового Ли списка будет красного цвета при наведении мышкой*/
}

@media (max-width: 700px) {
    body {
        background: #00FFEA;
    }
}

@media screen and (max-width: 770px) {
    .ground_all {
        flex-direction: column;
        aspect-ratio: auto;
    }

    .ground_text {
        min-width: none;
        margin-top: 24px;
        order: 1;
        color: aqua;
    }
}

@media screen and (max-width: 480px) {}

.ground_all {
    width: 100%;
    /*sizes="(max-width: 900px) 100vw, (max-width: 1500) 50vw, 30vw";*/
    margin: 0 auto 0;
    display: flex;

}

.ground_text {
    display: 412 0 0;
    padding: 74px 24px 64px;

    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;

    line-height: 1.272727;
    font-size: 1.50rem;

    color: white;
}

.ground_img {
    display: flex;
}

.ground_btn {
    padding: 0 12.5% 0;
    margin-top: 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ground_btn {
    flex: 0 0 auto;
    padding: 20px 16px 20px;
    min-width: 158px;
    height: 80px;
    text-decoration: none;
    /*height: 60px;*/
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 21px;
    border-radius: 10px;
    /*закругление кнопки*/
}

.ground_btn:hover {
    color: red;
}

body {
    background: url(./IMG/Systems.jpg);
    background-size: 100%;
}

.ground_XO_btnn {
    padding: 0 12.5% 0;
    margin-top: 28px;
}

.ground_XO_btnn {
    /*flex: 0 0 auto;*/
    color: white;
    /*цвет текста*/

}

.ground_XO_btnn {
    padding: 15px 40px;
    background: rgb(213, 47, 255);
    border-radius: 10px;
    /*закругление кнопки*/
    font-size: 16px;
    line-height: 21px;
}

.ground_XO_btnn:hover {
    color: blue;
    transform: scale(1.5);
}

.ground_XO {
    margin-left: 30px;
}

.ground_btn_consult {
    top: 20px;
    background-color: #4CAF50;
    color: white;
    margin-left: 20px;
}


.ground_btn_design {
    top: 80px;
    background-color: #2196F3;
    color: white;
}

.ground_btn_engeneer {
    top: 140px;
    background-color: blue;
    color: white;
}

.all_relativ {
    box-sizing: border-box;
    width: 100px;
    height: 200px;
    margin-bottom: auto;
}